header {
    display: flex;
    justify-content: space-between;
}
div {
    text-align: center;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 50px;
}

