h1 {
    font-size: 350%;
    text-align: center;
}
h2 {
    margin: 0% 41%;
    margin-top: 8%;
}
body {
    background-color: black;
    color: white;
    font-family: Helvetica;
    font-size: 130%;
}
p {
    margin: 2% 15% 6% 15%;
}
footer {
    margin: 8% 32%;
}
#title {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 3px;
    grid-auto-flow: column;
}
#title .pict img {
    border-radius: 30px;
}
.bio {
    width: 550px;
}
.preside {
    margin: 0% 45%;
}
